@media only screen and (max-width: 568px) {
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  header {
    flex-direction: column;
  }

  header nav {
    order: 2;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }

  header nav a {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: darkgray;
    border-bottom: 1px solid white;
    color: white;
  }

  header .home-link {
    display: block;
    order: 1;
    margin: 1rem 0;
  }

  .services-header-img {
    width: 100%;
  }

  .services {
    flex-direction: column;
  }

  .service {
    width: 100%;
  }

  .facts {
    flex-direction: column;
  }

  .facts div {
    width: 100%;
    margin-bottom: 1rem;
  }

  footer {
    margin: 0;
    padding: 0;
  }

  .cover {
    flex-direction: column;
    margin-top: 1rem;
  }

  .cover img {
    order: 1;
  }

  .headline {
    order: 2;
    margin: 1rem;
    padding: 0;
  }

}
